{{!
    @template core/loginform

    Страница входа GeoCore Academy.
    Переопределяет стандартный шаблон Boost.

    Context variables:
    * loginurl        - URL формы входа
    * logintoken      - CSRF токен
    * username        - предзаполненный логин
    * error           - сообщение об ошибке
    * info            - информационное сообщение
    * autofocusform   - автофокус на поле ввода
    * forgotpasswordurl - ссылка восстановления пароля
}}

{{! Подзаголовок }}
<div class="geocore-tagline">
    <span class="geocore-tagline-line"></span>
    ПЛАТФОРМА ОЦЕНКИ МЕСТОРОЖДЕНИЙ
</div>

{{! Ошибка }}
{{#error}}
<div class="geocore-alert">{{error}}</div>
{{/error}}

{{! Инфо }}
{{#info}}
<div class="geocore-info">{{info}}</div>
{{/info}}

{{! Форма }}
<form action="{{loginurl}}" method="post" id="login" autocomplete="on">
    <input type="hidden" name="logintoken" value="{{logintoken}}">
    <input type="hidden" name="anchor" value="">

    {{! Логин }}
    <div class="geocore-field">
        <label for="username" class="geocore-label">{{#str}}username{{/str}}</label>
        <input type="text"
               name="username"
               id="username"
               value="{{username}}"
               autocomplete="username"
               class="geocore-input"
               {{#autofocusform}}autofocus{{/autofocusform}}>
    </div>

    {{! Пароль }}
    <div class="geocore-field geocore-field-password">
        <label for="password" class="geocore-label">{{#str}}password{{/str}}</label>
        <div class="geocore-input-wrap">
            <input type="password"
                   name="password"
                   id="password"
                   autocomplete="current-password"
                   class="geocore-input">
            <button type="button" class="geocore-toggle-pw" tabindex="-1"
                    onclick="var f=document.getElementById('password'); f.type=f.type==='password'?'text':'password'; this.textContent=f.type==='password'?'👁':'🙈';">👁</button>
        </div>
    </div>

    {{! Кнопка входа }}
    <button type="submit" id="loginbtn" class="geocore-btn">
        {{#str}}login{{/str}}
    </button>
</form>

{{! Ссылка забыл пароль }}
{{#forgotpasswordurl}}
<div class="geocore-forgot">
    <a href="{{forgotpasswordurl}}">{{#str}}forgotten{{/str}}</a>
</div>
{{/forgotpasswordurl}}
